body {
    background-color: #444;
}
* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #ddd;
    margin: 0;
    padding: 0;
}

#box {
    position: absolute;
    border: 1px solid #ddd;
    width: 954px;
    height: 319px;
    left: 20px;
    top: 50px;
    background-color: darkslategray;
    z-index: 1;
}

.seg {
    position: absolute;
    opacity: .3;
    z-index: 1;
}

.seg-horizontal {
    border-left: 1px dashed white;
    top: 0;
}

.seg-vertical {
    border-bottom: 1px dashed white;
    right: 0;
}

.crop-button {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border: 1px solid #333;
    z-index: 2;
    position: absolute;
    cursor: nwse-resize;
}

.crop-button:hover {
    background-color: #fff;
}